

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,    
body {
    font-family: TT Lakes, sans-serif ;
    margin: 0;

}

h1 {
    font-weight: 700;
    font-size: 28px ;
    line-height: 40px ;
    letter-spacing: -0.6px ;
    color: #1b1c21 ;

}

nav button {
    font-weight: 500 ;
    font-size: 16px ;
    line-height: 24px ;
    letter-spacing: -0.2px ;
    color: #7e7e82;  
}

p {
    font-weight: 400 ;
    font-size: 14px ;
    line-height: 20px ;
    letter-spacing: 0.2px ;
    color: #1b1c21 ;  
    text-align: justify;
}

a {
    font-weight: 500 ;
    font-size: 16px ;
    line-height: 24px ;
    letter-spacing: -0.2px ;
    color: #1b1c21 ; 
    text-decoration: none;
}

/*  */



@media ( width <= 500px ) {

div {
    display: flex;  
}

.header-menu__wrap {
    border-bottom: 1px solid #d9fff5;
    padding-right: 16px;
    margin-right: 16px;
}

.header-menu__item:nth-child(2),
.header-menu__item:nth-child(3),
.header-menu__item:nth-child(5),
.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7),
.header-menu__item:nth-child(8),
.header-menu__item:nth-child(9),
.header-menu__item:nth-child(10) {
    margin-top: 24px;
    margin-left: 10px;
}

.header-menu__item:nth-child(2) {
    width: 100% ;
}

.header-menu__item:nth-child(10) {
   padding-right: px;
   
}

.header-menu__item:nth-child(3),
.header-menu__item:nth-child(5),
.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7) {
    display: none;
}

.header-menu__img {
    margin-top: 18.59px;
    margin-left: 16.45px;
    margin-bottom: 18.60px;
    
}

.invisible {
    display: none;
}

.main-menu__title {
    padding-top: 24px;
}

h1 {
    width: 288px;
    height: 40px;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 24px;
}

main {
   background-color: #f8f8f8;
   min-height: 100%;
}

nav {
    overflow: auto ;
}

.main-menu__wrap {
    width: 504px;
    height: 40px ;
    margin-top: px;
    margin-left: 16px;
    margin-bottom: 14px;                    
}

.main-menu__item:nth-child(3),
.main-menu__item:nth-child(4),
.main-menu__item:nth-child(5),
.main-menu__item:nth-child(6) {
    display: none;
}

.main-menu__item:nth-child(1) {
    width: 246px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

.main-menu__item:nth-child(2) {
    width: 258px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

button{
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-width: 0px;
    padding-left: 14.54px;
    padding-right: 16.00px ;

}

button:hover {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid; 
}

.section-about__container {
    display:  block ;
    padding-right: 6px;
    margin-top: 5vh;
    height: 100vh ;
}

p {
    line-height: 18px ;    
}

.section-about__description {
    display: inline;
    background-color: #f8f8f8;
    margin-bottom: 16px;   
    height: ;
}

.section-about__text:nth-child(2) {
    display: none  ;                 
    width: px ;                   /*    288px    */
    height: px ;                  /*   150px     */
    margin-top: px;
    margin-left: 16px;
}

.section-about__text:nth-child(1) {
    width: px ;                     /*  288px;  */
    height: px ;                      /*  90px;  */ 
    margin-top: px;
    margin-left: 16px;
    margin-right: 32px;               /*      */

}

.link{
    width: 132px;
    height: 24px;
    margin-left: 16px;
    margin-bottom: 16px;

}

.link__arrow {
    width: px;
    height: px;
    align-self: center ;
    padding-left: 8.29px;
    padding-right: 8.30px;
}

.link__link {
    width: 130px;
    height: 24px;
    margin-left: 8px;
    
}

.image {
    width: 100% ;                    /* 320px;  */
    height: 100dvh ;                 /*  176px;  */
    padding-right: 16px;
    
    
}

.image img {
    width: 100% ;
    height: 40dvh  ;
    padding-left: 16px ;
    padding-right: 16px;
    padding-bottom: px;

    
}


}











@media ( 500px <= width <= 1000px ) {




div {
    display: flex;

}

.header-menu__wrap {
    border-bottom: 1px solid #d9fff5;
}

.header-menu__item:nth-child(2) {
    margin-top: 24px;
    margin-left: 24px;
}

.header-menu__item:nth-child(3) {
    margin-top: 28px;
    margin-left: 20px;
}

.header-menu__item:nth-child(5) {
    margin-top: 24px;
    margin-left: 251px;
    
}

.header-menu__item:nth-child(8) {
    margin-top: 28px;
    margin-left: 20px;
}

.header-menu__item:nth-child(9) {
    margin-top: 24px;
    margin-left: 20px;
}

.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7),
.header-menu__item:nth-child(10) {
    margin-top: 24px;
    margin-left: 16px;
    
}

.header-menu__item:nth-child(10) {
    margin-right: 24px;
}

.header-menu__img {
    margin-top: 18.59px;
    margin-left: 20.45px;
    margin-bottom: 18.60px;
    width: 100%;
}

.main-menu__title {
    padding-top: 24px;
}

h1 {
    width: 288px;
    height: 40px;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 32px;
    padding-bottom: ;
}

main {
   background-color: #f8f8f8;
}

nav {
    overflow: auto ;
}

.main-menu__wrap {
    width: 1200px;
    height: 40px ;
    margin-top: px;
    margin-left: 24px;
    margin-bottom: 18px;                 /* вернусь поменять нижний отступ */
}

.main-menu__item:nth-child(5),
.main-menu__item:nth-child(6) {
    display: ;                           /*  */
}

.main-menu__item:nth-child(1) {
    width: px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

.main-menu__item:nth-child(2) {
    width: px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

button{
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-width: 0px;
    padding-left: 14.54px;
    padding-right: 16.00px ;

}

button:hover {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid; 
}


.section-about__container {
    display:   ;                   /* block */
    margin-top: 5vh;
    height: 100vh;

}

.section-about__description{
    display: inline;
    background-color: #f8f8f8;
    margin-bottom: 24px; 
    width: 50%;
    height: 70vh;
}

.section-about__text:nth-child(1) {                       
    width: px ;
    height: px ;
    margin-top: px;
    margin-left: 24px;
}

.section-about__text:nth-child(2) {                      
    width: px ;
    height: px ;
    margin-top: px;
    margin-left: 24px;
    margin-bottom: 10px;
}

.invisible {
    display: none;
}

.link {
    width: 132px;
    height: 24px;
    margin-left: 25px;
    margin-bottom: 16px;

}

.link__arrow {
    width: px;
    height: px;
    align-self: center ;
    padding-left: 8.29px;
    padding-right: 8.30px;
}

.link__link {
    width: 100px;
    height: 24px;
    margin-left: 8px;
    
}

.image {
    width: 70%;                  /* 360px;  */
    height: 60vh;                 /* 208px;  */
    margin-top: 12px;
    margin-left: 48px;
    padding-right: 24px;
    
}

.image img {
    width: 100%;
    height: vh ; 

}

.section-about__wrap {
    height: ;
}

body {
    height: ;
    margin: ;
    padding: ;
}

}










@media ( width > 1000px ) {




div {
    display: flex;
}

.header-menu__wrap {
    background-color: #f8f8f8;
}

.header-menu__item:nth-child(9) {
    width: px ;                            
    height: px;                              
    margin-top: 42px;
    margin-left: 415px;
    align-items: center ;
    margin-bottom: 8px;
    width: 100% ;
  
}

header span {
    padding-right: 8px;
    padding-bottom: 8px;
}


.header-menu__item:nth-child(10) {
    width: px;
    height: px;
    align-items: center ;
    margin-top: 42px;
    margin-left: 32px;
    margin-bottom: 8px;
    margin-right: 30px;
    width: 100%  ;
}

.header-menu__img {
    margin-top: 18.59px;
    margin-left: 20.45px;
    margin-bottom: 18.60px;   
}

.header-menu__item:nth-child(2),
.header-menu__item:nth-child(3),
.header-menu__item:nth-child(5),
.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7),
.header-menu__item:nth-child(8),
.header-menu__img {
    display: none;
}

.invisible3 {
    display: none;
}

.header-menu__title {
    padding-top: 0px;
    margin-top: 42px;
}

h1 {
    width: 266px;
    height: 40px;
    margin-top: 0px;
    margin-left: 33px;
    margin-bottom: 8px;
}

main {
   background-color: #f8f8f8;
}

nav {
    overflow:  ;
}

.main-menu__wrap {
    width: ;
    height: 82px ;
    margin-top: px;
    margin-left: 33px;
    margin-bottom: 0px; 
    padding-top: 5vh;
    flex-wrap: wrap;                                                
}

.main-menu__item:nth-child(1),
.main-menu__item:nth-child(2),   /* */
.main-menu__item:nth-child(3),
.main-menu__item:nth-child(4),
.main-menu__item:nth-child(5),
.main-menu__item:nth-child(6) {
    height: 40px ;
}

button{
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-width: 0px;
    padding-left: 14.54px;
    padding-right: 16.00px ;

}

button:hover {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid; 
}


.section-about__container {
    display:   ;                   /* block */
    
    margin-top: 5vh;
    
}

.section-about__description{
    display: inline;
    background-color: #f8f8f8;
    margin-bottom: 500px;  

    margin-top: 5vh;
    width: 50%;
    height: 70vh;

}

.section-about__text:nth-child(1) {
    width: px ;
    height: px ;
    margin-top: 16px;
    margin-left: 35px;
    margin-bottom: px;
}

.section-about__text:nth-child(2) {
    width: px ;
    height: px ;
    margin-top: 22px;
    margin-left: 35px;
    margin-bottom: 14px;
}

.invisible {
    display: ;
}

.link {
    width: 132px;
    height: 24px;
    margin-left: 33px;
}

.link__arrow {
    width: px;
    height: px;
    align-self: center ;
    padding-left: 8.29px;
    padding-right: 8.30px;
}

.link__link {
    width: 100px;
    height: 24px;
    margin-left: 8px;
    
}

.image {
    width: 70%;;                  /* 531.35px;   */
    height: 60vh;                    /* 307px;   */
    margin-top: 7px;          
    margin-left: 36px;         
    margin-bottom: 49px;
    padding-right: 40px;
}

.image img {
    width: 100%;
    height: vh ; 

}



}



    






















































/*

background-color: #f8f8f8;

margin-bottom: 18.60px;


padding-left: 14.54px;
padding-right: 16.00px ;


overflow: hidden;

nav {
    overflow: auto;
}




p {
    font-weight: 400 ;
    font-size: 14px ;
    line-height: 20px ;
    letter-spacing: 0.2px ;
    color: #1b1c21 ;  
}









@media ( width <= 768px ) {}






@media ( width <= 1200px ) {}

разметка под большой рамер экрана:

div {
    display: flex;
       
}

header {
    
}

.header_menu {
    
}

.header_menu_item {
    margin-top: 24px;
    margin-left: 16px;
    
}

.header_menu_img {
    margin-top: 18.59px;
    margin-left: 20.45px;
    margin-bottom: 18.60px;
    
}

.title {
    padding-top: 24px;
}

.title_img {
    margin-top: 0px;
}

h1 {
    width: 288px;
    height: 40px;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 24px;
}

main {
   background-color: #f8f8f8;
}

.main_menu {
    width: px;
    height: 40px ;
    margin-top: px;
    margin-left: px;
    margin-bottom: 24px;
    overflow-y: ;
}

.main_menu_item_3,
.main_menu_item_4,
.main_menu_item_5,
.main_menu_item_6,
.main_menu_item_ {
    display: none;
}

.main_menu_item_1 {
    width: 246px ;
    height: 40px ;
    margin-top: px;
    margin-left: 16px;
}

.main_menu_item_2 {
    width: 258px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

button {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    
}

.conteiner {
    display:  block ;

}

.description {
    display: inline;
    background-color: #f8f8f8;
    margin-bottom: 16px;
}

.description_text_2 {
    display:  none ;
}

.description_text_1 {
    width: 288px ;
    height: 90px ;
    margin-top: px;
    margin-left: 16px;
    
}

.link {
    margin-bottom: 16px;
}

.link_arrow {
    width: px;
    height: px;
    margin-left: 16px;
    align-self: center ;
}

.link_arrow_img {
    
}

.link_link {
    width: 100px;
    height: 24px;
    margin-left: 8px;
    
}

.image {
    width: 320px;
    height: 176px;
}





























@font-face {
    font-family: TT Lakes, sans-serif ;
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}







второй вариант со шрифтами : не получился

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Bold.woff') format('woff'),
        url('TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url('TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Medium.woff') format('woff'),
        url('TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Regular.eot');
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url('TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Regular.woff') format('woff'),
        url('TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,    
body {
    font-family: TT Lakes, sans-serif ;
    
}

h1 {
    font-family:  TT Lakes Condensed Bold , sans-serif ;
    font-weight: 700;
    font-size: 28px ;
    line-height: 40px ;
    letter-spacing: -0.6px ;
    color: #1b1c21 ;

}

nav a {
    font-family: TT Lakes Condensed Medium, sans-serif ;
    font-weight: 500 ;
    font-size: 16px ;
    line-height: 24px ;
    letter-spacing: -0.2px px ;
    color: #7e7e82;  
}

p {
    font-family: TT Lakes Compressed, sans-serif ;
    font-weight: 400 ;
    font-size: 14px ;
    line-height: 18px ;
    letter-spacing: 0.2px ;
    color: #1b1c21 ;
}





<button class="arrow arrow-back" type="button"><span class="visually-hidden">Назад</span></button>







варианты выравнивания:

.green {
    width: ;
    height: px ;
    margin-top: px;
    text-align:  ;
    vertical-align:  ;
    align-items: ;
    align-self: ;
}    











вариант до адаптивной верски (30.10)

@media ( width <= 500px ) {

div {
    display: flex;  
}

.header-menu__wrap {
    border-bottom: 1px solid #d9fff5;
}

.header-menu__item:nth-child(2),
.header-menu__item:nth-child(3),
.header-menu__item:nth-child(5),
.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7),
.header-menu__item:nth-child(8),
.header-menu__item:nth-child(9),
.header-menu__item:nth-child(10) {
    margin-top: 24px;
    margin-left: 16px;

}

.header-menu__item:nth-child(3),
.header-menu__item:nth-child(5),
.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7) {
    display: none;
}

.header-menu__img {
    margin-top: 18.59px;
    margin-left: 16.45px;
    margin-bottom: 18.60px;
    
}

.invisible {
    display: none;
}

.main-menu__title {
    padding-top: 24px;
}

h1 {
    width: 288px;
    height: 40px;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 24px;
}

main {
   background-color: #f8f8f8;
}

nav {
    overflow: auto ;
}

.main-menu__wrap {
    width: 504px;
    height: 40px ;
    margin-top: px;
    margin-left: 16px;
    margin-bottom: 14px;                    
}

.main-menu__item:nth-child(3),
.main-menu__item:nth-child(4),
.main-menu__item:nth-child(5),
.main-menu__item:nth-child(6) {
    display: none;
}

.main-menu__item:nth-child(1) {
    width: 246px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

.main-menu__item:nth-child(2) {
    width: 258px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

button{
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-width: 0px;
    padding-left: 14.54px;
    padding-right: 16.00px ;

}

button:hover {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid; 
}


.section-about__container {
    display:  block ;
}

p {
    line-height: 18px ;    
}

.section-about__description {
    display: inline;
    background-color: #f8f8f8;
    margin-bottom: 16px;   
}

.section-about__text:nth-child(2) {
    display: none  ;
    width: 288px ;
    height: 150px ;
    margin-top: px;
    margin-left: 16px;
}

.section-about__text:nth-child(1) {
    width: 288px ;
    height: 90px ;
    margin-top: px;
    margin-left: 16px;

}

.link{
    width: 132px;
    height: 24px;
    margin-left: 16px;
    margin-bottom: 16px;

}

.link__arrow {
    width: px;
    height: px;
    align-self: center ;
    padding-left: 8.29px;
    padding-right: 8.30px;
}

.link__link {
    width: 100px;
    height: 24px;
    margin-left: 8px;
    
}

.image {
    width: 320px;
    height: 176px;
}

}











@media ( 500px <= width <= 1000px ) {




div {
    display: flex;

}

.header-menu__wrap {
    border-bottom: 1px solid #d9fff5;
}

.header-menu__item:nth-child(2) {
    margin-top: 24px;
    margin-left: 24px;

}

.header-menu__item:nth-child(3) {
    margin-top: 28px;
    margin-left: 20px;
}

.header-menu__item:nth-child(5) {
    margin-top: 24px;
    margin-left: 251px;
}

.header-menu__item:nth-child(8) {
    margin-top: 28px;
    margin-left: 20px;
}

.header-menu__item:nth-child(9) {
    margin-top: 24px;
    margin-left: 20px;
}

.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7),
.header-menu__item:nth-child(10) {
    margin-top: 24px;
    margin-left: 16px;

}

.header-menu__img {
    margin-top: 18.59px;
    margin-left: 20.45px;
    margin-bottom: 18.60px;
    
}

.main-menu__title {
    padding-top: 24px;
}

h1 {
    width: 288px;
    height: 40px;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 32px;
}

main {
   background-color: #f8f8f8;
}

nav {
    overflow: auto ;
}

.main-menu__wrap {
    width: 1200px;
    height: 40px ;
    margin-top: px;
    margin-left: 24px;
    margin-bottom: 18px;                 /* вернусь поменять нижний отступ *//*
}

.main-menu__item:nth-child(5),
.main-menu__item:nth-child(6) {
    display: ;                           
}

.main-menu__item:nth-child(1) {
    width: px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

.main-menu__item:nth-child(2) {
    width: px ;
    height: 40px ;
    margin-top: px;
    margin-left: 0px;
}

button{
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-width: 0px;
    padding-left: 14.54px;
    padding-right: 16.00px ;

}

button:hover {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid; 
}


.section-about__container {
    display:   ;                   /* block *//*
}
 
.section-about__description{
    display: inline;
    background-color: #f8f8f8;
    margin-bottom: 24px; 
}

.section-about__text:nth-child(1) {                       
    width: 312px ;
    height: px ;
    margin-top: px;
    margin-left: 24px;
}

.section-about__text:nth-child(2) {                      
    width: 312px ;
    height: px ;
    margin-top: px;
    margin-left: 24px;
    margin-bottom: 10px;
}

.invisible {
    display: none;
}

.link {
    width: 132px;
    height: 24px;
    margin-left: 25px;
    margin-bottom: 16px;

}

.link__arrow {
    width: px;
    height: px;
    align-self: center ;
    padding-left: 8.29px;
    padding-right: 8.30px;
}

.link__link {
    width: 100px;
    height: 24px;
    margin-left: 8px;
    
}

.image {
    width: 360px;
    height: 208px;
    margin-top: 12px;
    margin-left: 48px;
    
}


}










@media ( width > 1000px ) {




div {
    display: flex;
}

.header-menu__wrap {
    background-color: #f8f8f8;
}

.header-menu__item:nth-child(9) {
    width: px ;                            
    height: px;                              
    margin-top: 42px;
    margin-left: 415px;
    align-items: center ;
    margin-bottom: 8px;
  
}

header span {
    padding-right: 8px;
    padding-bottom: 8px;
}


.header-menu__item:nth-child(10) {
    width: px;
    height: px;
    align-items: center ;
    margin-top: 42px;
    margin-left: 32px;
    margin-bottom: 8px;
    
}

.header-menu__img {
    margin-top: 18.59px;
    margin-left: 20.45px;
    margin-bottom: 18.60px;   
}

.header-menu__item:nth-child(2),
.header-menu__item:nth-child(3),
.header-menu__item:nth-child(5),
.header-menu__item:nth-child(6),
.header-menu__item:nth-child(7),
.header-menu__item:nth-child(8),
.header-menu__img {
    display: none;
}

.invisible3 {
    display: none;
}

.header-menu__title {
    padding-top: 0px;
    margin-top: 42px;
}

h1 {
    width: 266px;
    height: 40px;
    margin-top: 0px;
    margin-left: 33px;
    margin-bottom: 8px;
}

main {
   background-color: #f8f8f8;
}

nav {
    overflow:  ;
}

.main-menu__wrap {
    width: px;
    height: 82px ;
    margin-top: px;
    margin-left: 33px;
    margin-bottom: 0px; 
    flex-wrap: wrap;                                                
}

.main-menu__item:nth-child(1),
.main-menu__item:nth-child(2),           /* можно убрать по ходу ниче не поменяется, даже лучше становится *//* 
.main-menu__item:nth-child(3),
.main-menu__item:nth-child(4),
.main-menu__item:nth-child(5),
.main-menu__item:nth-child(6) {
    height: 40px ;
}

button{
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-width: 0px;
    padding-left: 14.54px;
    padding-right: 16.00px ;

}

button:hover {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid; 
}


.section-about__container {
    display:   ;                   /* block *//* 
}

.section-about__description{
    display: inline;
    background-color: #f8f8f8;
    margin-bottom: 500px;                  
}

.section-about__text:nth-child(1) {
    width: 490px ;
    height: px ;
    margin-top: 16px;
    margin-left: 35px;
    margin-bottom: px;
}

.section-about__text:nth-child(2) {
    width: 490px ;
    height: px ;
    margin-top: 22px;
    margin-left: 35px;
    margin-bottom: 14px;
}

.invisible {
    display: ;
}

.link {
    width: 132px;
    height: 24px;
    margin-left: 33px;
}

.link__arrow {
    width: px;
    height: px;
    align-self: center ;
    padding-left: 8.29px;
    padding-right: 8.30px;
}

.link__link {
    width: 100px;
    height: 24px;
    margin-left: 8px;
    
}

.image {
    width: 531.35px;
    height: 307px;
    margin-top: 7px;          
    margin-left: 36px;         
    margin-bottom: 49px;
}

}

*/

    
















/*

для того чтобы hover не срабатывало при наведении на тач-устройствах, только от мыши

@media (hover: hover) {
button:hover {
    background-color: white;
    border-color: #b8ffec  ;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid; 
}
}
























