@charset "UTF-8";
@font-face {
  font-family: "TTLakes Medium";
  src: url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes Bold";
  src: url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "TTLakes Medium", sans-serif;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  min-height: 100vh;
  overflow: auto; /*  hidden , auto  */
  /*  overflow-x: ;                  /*  hidden  */
}

h1 {
  font-family: "TTLakes Bold", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

button {
  font-family: "TTLakes Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

button {
  padding: 0;
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.main-menu__navigation button {
  color: #7e7e82;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  p {
    line-height: 18px;
  }
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
}

div {
  display: flex;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
}

header {
  background-color: white;
}

th {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
  text-align: justify;
}

td {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

input {
  font-family: "TTLakes Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #b5b6bc;
}

textarea {
  font-family: "TTLakes Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #b5b6bc;
}

main {
  background-color: #f8f8f8;
  min-height: 100%;
}

@media screen and (max-width: 500px) {
  nav {
    overflow: auto;
  }
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  nav {
    overflow: auto;
  }
}

.header-menu .header-menu__title {
  position: absolute;
  top: 110px;
}
@media screen and (min-width: 1120px) {
  .header-menu .header-menu__title {
    top: 0px;
    padding-top: 0px;
    margin-top: 42px;
  }
}
.header-menu .header-menu__title h1 {
  width: 288px;
  height: 40px;
  margin-top: 0px;
  margin-left: 16px;
  margin-bottom: 24px;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .header-menu .header-menu__title h1 {
    margin-top: 0px;
    margin-left: 24px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1120px) {
  .header-menu .header-menu__title h1 {
    width: 266px;
    height: 40px;
    margin-top: 0px;
    margin-left: 33px;
    margin-bottom: 8px;
  }
}
.header-menu .header-menu__wrap {
  align-items: flex-start;
}
@media screen and (max-width: 500px) {
  .header-menu .header-menu__wrap {
    padding-right: 16px;
    margin-right: 16px;
    border-bottom: 2px solid #d9fff5;
  }
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .header-menu .header-menu__wrap {
    border-bottom: 2px solid #d9fff5;
  }
}
@media screen and (min-width: 1120px) {
  .header-menu .header-menu__wrap {
    justify-content: flex-end;
    background-color: #f8f8f8;
  }
}
.header-menu .header-menu__wrap .header-menu__item:nth-child(1), .header-menu .header-menu__wrap .header-menu__item:nth-child(2), .header-menu .header-menu__wrap .header-menu__item:nth-child(4), .header-menu .header-menu__wrap .header-menu__item:nth-child(5), .header-menu .header-menu__wrap .header-menu__item:nth-child(6), .header-menu .header-menu__wrap .header-menu__item:nth-child(7), .header-menu .header-menu__wrap .header-menu__item:nth-child(8), .header-menu .header-menu__wrap .header-menu__item:nth-child(9) {
  margin-top: 24px;
  margin-left: 10px;
}
@media screen and (max-width: 500px) {
  .header-menu .header-menu__wrap .header-menu__item:nth-child(1) {
    width: 100%;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(2), .header-menu .header-menu__wrap .header-menu__item:nth-child(4), .header-menu .header-menu__wrap .header-menu__item:nth-child(5), .header-menu .header-menu__wrap .header-menu__item:nth-child(6) {
    display: none;
  }
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .header-menu .header-menu__wrap .header-menu__item:nth-child(1) {
    margin-top: 24px;
    margin-left: 24px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(2) {
    margin-top: 28px;
    margin-left: 20px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(4) {
    margin-top: 24px;
    margin-left: 251px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(7) {
    margin-top: 28px;
    margin-left: 20px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(8) {
    margin-top: 24px;
    margin-left: 20px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(5), .header-menu .header-menu__wrap .header-menu__item:nth-child(6), .header-menu .header-menu__wrap .header-menu__item:nth-child(9) {
    margin-top: 24px;
    margin-left: 16px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(9) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1120px) {
  .header-menu .header-menu__wrap .header-menu__item button {
    background-color: #f8f8f8;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(8) {
    width: 180px;
    margin-top: 42px;
    align-items: center;
    margin-bottom: 8px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(9) {
    width: 170px;
    align-items: center;
    margin-top: 42px;
    margin-left: 32px;
    margin-bottom: 8px;
    margin-right: 48px;
  }
  .header-menu .header-menu__wrap .header-menu__item:nth-child(1), .header-menu .header-menu__wrap .header-menu__item:nth-child(2), .header-menu .header-menu__wrap .header-menu__item:nth-child(4), .header-menu .header-menu__wrap .header-menu__item:nth-child(5), .header-menu .header-menu__wrap .header-menu__item:nth-child(6), .header-menu .header-menu__wrap .header-menu__item:nth-child(7) {
    display: none;
  }
}
.header-menu .header-menu__wrap .header-menu__img {
  margin-top: 18.59px;
  margin-left: 16.45px;
  margin-bottom: 18.6px;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .header-menu .header-menu__wrap .header-menu__img {
    margin-top: 18.59px;
    margin-left: 20.45px;
    margin-bottom: 18.6px;
    width: 100%;
  }
}
@media screen and (min-width: 1120px) {
  .header-menu .header-menu__wrap .header-menu__img {
    display: none;
  }
}
.header-menu .header-menu__wrap .invisible {
  display: none;
}
@media screen and (min-width: 1120px) {
  .header-menu .header-menu__wrap .invisible {
    display: block;
    padding-right: 8px;
    padding-bottom: 8px;
  }
}

.main-menu__navigation {
  padding-top: 88px;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .main-menu__navigation {
    padding-top: 96px;
  }
}
@media screen and (min-width: 1120px) {
  .main-menu__navigation {
    padding-top: 0px;
  }
}
.main-menu__navigation .main-menu__wrap {
  height: 40px;
  margin-left: 16px;
  margin-bottom: 14px;
}
@media screen and (max-width: 500px) {
  .main-menu__navigation .main-menu__wrap {
    width: 1200px;
  }
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .main-menu__navigation .main-menu__wrap {
    width: 1200px;
    height: 40px;
    margin-left: 24px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1120px) {
  .main-menu__navigation .main-menu__wrap {
    height: 82px;
    margin-left: 33px;
    margin-bottom: 0px;
    padding-top: 5vh;
    flex-wrap: wrap;
  }
}
.main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(1) {
  height: 40px;
  margin-left: 0px;
}
.main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(2) {
  height: 40px;
  margin-left: 0px;
}
@media screen and (min-width: 1120px) {
  .main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(1), .main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(2), .main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(3), .main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(4), .main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(5), .main-menu__navigation .main-menu__wrap .main-menu__item:nth-child(6) {
    height: 40px;
  }
}
.main-menu__navigation .main-menu__wrap .main-menu__item button {
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  border-width: 0px;
  padding-left: 14.54px;
  padding-right: 16px;
}
.main-menu__navigation .main-menu__wrap .main-menu__item button:hover {
  background-color: #ffffff;
  border-color: #b8ffec;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
}

.section-about__wrap {
  margin-bottom: 10vh;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .section-about__wrap {
    margin-bottom: 0vh;
  }
}
@media screen and (min-width: 1120px) {
  .section-about__wrap {
    margin-bottom: 0vh;
  }
}
.section-about__wrap .section-about__container {
  display: block;
  padding-right: 6px;
  margin-top: 5vh;
  margin-bottom: 10px;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .section-about__wrap .section-about__container {
    display: flex;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1120px) {
  .section-about__wrap .section-about__container {
    display: flex;
    margin-bottom: 0px;
  }
}
.section-about__wrap .section-about__container .section-about__description {
  display: inline;
}
@media screen and (max-width: 500px) {
  .section-about__wrap .section-about__container .section-about__description {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .section-about__wrap .section-about__container .section-about__description {
    display: inline;
    margin-bottom: 24px;
    width: 50%;
  }
}
@media screen and (min-width: 1120px) {
  .section-about__wrap .section-about__container .section-about__description {
    display: inline;
    margin-bottom: 50px;
    margin-top: 5vh;
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .section-about__wrap .section-about__container .section-about__description .section-about__text:nth-child(1), .section-about__wrap .section-about__container .section-about__description .section-about__text:nth-child(2) {
    margin-left: 16px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .section-about__wrap .section-about__container .section-about__description .section-about__text:nth-child(1) {
    margin-left: 24px;
  }
  .section-about__wrap .section-about__container .section-about__description .section-about__text:nth-child(2) {
    margin-left: 24px;
    margin-bottom: 10px;
  }
  .section-about__wrap .section-about__container .section-about__description .section-about__text:nth-child(2) .invisible {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .section-about__wrap .section-about__container .section-about__description .section-about__text:nth-child(1) {
    margin-top: 16px;
    margin-left: 35px;
  }
  .section-about__wrap .section-about__container .section-about__description .section-about__text:nth-child(2) {
    margin-top: 22px;
    margin-left: 35px;
    margin-bottom: 14px;
  }
}
.section-about__wrap .section-about__container .image {
  width: 100%;
  padding-right: 16px;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .section-about__wrap .section-about__container .image {
    width: 70%;
    margin-top: 12px;
    margin-left: 48px;
    margin-bottom: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1120px) {
  .section-about__wrap .section-about__container .image {
    width: 50%;
    margin-top: 7px;
    margin-left: 36px;
    margin-bottom: 49px;
    padding-right: 40px;
  }
}
.section-about__wrap .section-about__container .image img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .section-about__wrap .section-about__container .image img {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Ремонт техники различных брендов */
.brand-section .brand-section__title {
  margin: 0;
  padding: 16px 24px;
  border-top: 3px solid #d9fff5;
  background-image: linear-gradient(45deg, #ffffff 0%, #f8f8f8 100%);
}
.brand-section .brand-section__wrap {
  flex-wrap: wrap;
  gap: 10px 24px;
  padding: 24px 24px 10px 24px;
  border: 0px solid #7e7e82;
}
@media screen and (max-width: 500px) {
  .brand-section .brand-section__wrap {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .brand-section .brand-section__wrap {
    gap: 10px 32px;
    padding: 24px 32px 10px 32px;
  }
}
.brand-section .brand-section__wrap .brand-section__item {
  background-color: #f8f8f8;
}
.brand-section .read-more {
  display: flex;
  background-color: #f8f8f8;
  margin-left: 24px;
  margin-bottom: 20px;
  padding: 10px 0px;
}
@media screen and (max-width: 500px) {
  .brand-section .read-more {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .brand-section .read-more {
    margin-left: 32px;
  }
}
.brand-section .read-more img {
  margin-right: 10px;
}

/* Ремонт техники различных видов брендов js */
@media screen and (min-width: 500px) and (max-width: 1120px) {
  #brand:nth-child(7),
  #brand:nth-child(8),
  #brand:nth-child(9),
  #brand:nth-child(10),
  #brand:nth-child(11),
  #brand:nth-child(12) {
    display: none; /* inline-block, none */
  }
}
@media screen and (min-width: 1120px) {
  #brand:nth-child(9),
  #brand:nth-child(10),
  #brand:nth-child(11),
  #brand:nth-child(12) {
    display: none; /* inline-block, none */
  }
}
#brandList .openned {
  display: inline-block;
}

/* Ремонт различных видов техники */
.technic-section .technic-section__title {
  margin: 0;
  padding: 16px 24px;
  border-top: 3px solid #d9fff5;
  background-image: linear-gradient(45deg, #ffffff 0%, #f8f8f8 100%);
}
.technic-section .technic-section__wrap {
  flex-wrap: wrap;
  gap: 10px 24px;
  padding: 24px 24px 10px 24px;
  border: 0px solid #7e7e82;
}
@media screen and (max-width: 500px) {
  .technic-section .technic-section__wrap {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .technic-section .technic-section__wrap {
    gap: 10px 32px;
    padding: 24px 32px 10px 32px;
  }
}
.technic-section .technic-section__wrap .technic-section__item {
  background-color: #f8f8f8;
}
.technic-section .read-more {
  display: flex;
  background-color: #f8f8f8;
  margin-left: 24px;
  margin-bottom: 20px;
  padding: 10px 0px;
}
@media screen and (max-width: 500px) {
  .technic-section .read-more {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .technic-section .read-more {
    margin-left: 32px;
  }
}
.technic-section .read-more img {
  margin-right: 10px;
}

/* Ремонт различных видов техники js*/
@media screen and (min-width: 500px) and (max-width: 1120px) {
  #technic:nth-child(4),
  #technic:nth-child(5),
  #technic:nth-child(6),
  #technic:nth-child(7),
  #technic:nth-child(8) {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  #technic:nth-child(5),
  #technic:nth-child(6),
  #technic:nth-child(7),
  #technic:nth-child(8) {
    display: none;
  }
}
#technicList .openned {
  display: inline-block;
}

/* swiper */
.swiper {
  border: 0px solid lightgray;
  margin-bottom: 16px;
}
.swiper .swiper-wrapper {
  margin-bottom: 20px;
  padding: 16px;
}
.swiper .swiper-wrapper .swiper-slide {
  /*text-align:  ; */ /* выравнивание по центру  */
  width: 240px !important;
  margin-right: 16px !important;
}
.swiper .swiper-wrapper .swiper-slide button {
  display: flex;
  background-color: #f8f8f8;
}
.swiper .swiper-pagination {
  justify-content: center;
}
.swiper .swiper-pagination span {
  width: 12px;
  height: 12px;
  margin-right: 8px !important;
  background-color: #b5b6bc;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .swiper {
    display: none !important;
  }
}
@media screen and (min-width: 1120px) {
  .swiper {
    display: none !important;
  }
}

/* Читать далее */
.look-more {
  display: flex;
  background-color: #f8f8f8;
  margin-left: 24px;
  margin-bottom: 20px;
  padding: 10px 0px;
}
@media screen and (min-width: 1120px) {
  .look-more {
    margin-left: 32px;
  }
}
.look-more img {
  margin-right: 10px;
}

.section-about__text:nth-child(2) {
  display: none;
}

.section-about__description .openned {
  display: inline-block;
}

/* Цены на услуги */
.prices-section .prices-section__title {
  margin: 0;
  padding: 16px 24px;
  border-top: 3px solid #d9fff5;
  background-image: linear-gradient(45deg, #ffffff 0%, #f8f8f8 100%);
}
.prices-section > table {
  /*border: 1px solid gray;*/
  margin: 24px;
  padding: 0px;
  border-radius: 6px;
}
@media screen and (max-width: 500px) {
  .prices-section > table {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .prices-section > table {
    margin: 32px;
    margin-top: 16px;
  }
}
.prices-section > table tr {
  display: grid;
  grid-template-columns: 1fr 100px 100px 125px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
  background-color: #ffffff;
  padding: 16px;
  border-bottom: 2px solid #eaeaea;
  -o-border-image: linear-gradient(to right, transparent 2%, #eaeaea 2%, #eaeaea 98%, transparent 98%);
     border-image: linear-gradient(to right, transparent 2%, #eaeaea 2%, #eaeaea 98%, transparent 98%);
  border-image-slice: 1;
  border-image-repeat: stretch;
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .prices-section > table tr {
    -moz-column-gap: 7vw;
         column-gap: 7vw; /* 110px, 7vw */
  }
}
@media screen and (min-width: 1120px) {
  .prices-section > table tr {
    grid-template-columns: 1fr 100px 100px 125px;
    -moz-column-gap: 7vw;
         column-gap: 7vw; /* 110px, 7vw */
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    -o-border-image: linear-gradient(to right, transparent 2.5%, #eaeaea 2.5%, #eaeaea 97.5%, transparent 97.5%);
       border-image: linear-gradient(to right, transparent 2.5%, #eaeaea 2.5%, #eaeaea 97.5%, transparent 97.5%);
    border-image-slice: 1;
    border-image-repeat: stretch;
  }
}
.prices-section > table tr:nth-child(1) {
  background-color: #f8f8f8;
  border-bottom: 0px solid gray;
}
.prices-section > table tr:nth-child(2) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.prices-section > table tr:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 0px solid gray;
}
.prices-section > table tr td button {
  display: flex;
}
.prices-section .prices-section__note {
  width: 430px;
  margin: 24px;
  margin-bottom: 16px;
}
@media screen and (max-width: 500px) {
  .prices-section .prices-section__note {
    width: 90%; /* поменять 430px */
    margin: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .prices-section .prices-section__note {
    margin: 32px;
    margin-bottom: 16px;
  }
}
.prices-section .prices-section__link-order {
  display: block;
  margin: 24px;
  margin-top: 16px;
}
@media screen and (max-width: 500px) {
  .prices-section .prices-section__link-order {
    display: block;
    margin: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .prices-section .prices-section__link-order {
    margin: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.prices-section .prices-section__link-order span {
  vertical-align: top;
}

/* Цены на услуги - swiper */
.prices-section .swiper-slide table {
  margin: 0px;
}
.prices-section .swiper-slide table tr {
  display: block;
  width: 260px;
  background-color: #ffffff;
  padding: 0px;
  border-bottom: 0px solid #eaeaea;
}
.prices-section .swiper-slide table tr:nth-child(1) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.prices-section .swiper-slide table tr:nth-child(2) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 36px;
}
.prices-section .swiper-slide table tr:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 16px;
}
.prices-section .swiper-slide table tr th {
  padding: 16px;
  padding-bottom: 0px;
}
.prices-section .swiper-slide table tr td {
  padding: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.prices-section .swiper-slide table tr td button {
  position: absolute;
  right: -5px;
  bottom: 16px;
}

.prices-section .swiper .swiper-slide {
  margin-right: 40px !important;
}

/*  sidebar-menu */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0px 30px 0px #7e7e82;
}

.sidebar-header__wrap {
  justify-content: space-evenly;
  align-items: center;
  height: 88px;
  background-color: #ffffff;
  border-bottom: 2px solid #d9fff5;
}
.sidebar-header__wrap .sidebar-header__item:nth-child(2) {
  width: 50%;
}
.sidebar-header__wrap .sidebar-header__item .sidebar-header__button {
  border: 0;
  background-color: #ffffff;
  padding: 0;
}

.sidebar__list {
  margin: 0;
  padding: 25px 0px;
  list-style: none;
  background-color: aliceblue;
}
.sidebar__list .sidebar__item {
  margin-bottom: 1vh; /*  32px   22px  */
}
.sidebar__list .sidebar__item a {
  display: inline-block;
  padding: 5px 5px 5px 25px;
  color: #1b1c21;
}

/*  1ый способ: через  opacity и относит/абсолютное позиционирование  */
.sidebar__item {
  position: relative;
}
.sidebar__item img {
  display: block;
  position: absolute;
  opacity: 0;
}
.sidebar__item a:hover {
  color: #7e7e82;
}
.sidebar__item:hover img {
  opacity: 1;
}

/*  2ой способ: через  boreder-left и color  */
.sidebar__item:last-child a:hover {
  color: #7e7e82;
  border-left: 4px solid #41f6d7;
  border-radius: 3%;
}

.sidebar-footer {
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  padding: 0 25px;
  margin-top: auto; /*  220px  */
  margin-bottom: 1vh;
}
.sidebar-footer .sidebar-footer__item {
  padding-right: 15px;
}
.sidebar-footer .sidebar-footer__item .sidebar-footer__button {
  background-color: aliceblue;
}
.sidebar-footer .sidebar-footer__tel a {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.sidebar-footer .sidebar-lang {
  margin-top: 10%;
}
.sidebar-footer .sidebar-lang .sidebar-lang__item {
  padding-right: 10px;
}
.sidebar-footer .sidebar-lang .sidebar-lang__item .sidebar-lang__button {
  background-color: aliceblue;
}
.sidebar-footer .sidebar-lang .sidebar-lang__item button:active {
  color: #7e7e82;
}

/*  плавные переходы при наведении на кнопку  */
.sidebar-header__button,
.sidebar-footer__button {
  transition: all 0.6s ease;
}

.sidebar-header__button:hover,
.sidebar-footer__button:hover,
.sidebar-footer__item:not(:last-child) button:hover {
  opacity: 0.7;
}

.sidebar-footer__item:last-child button:hover {
  filter: hue-rotate(300deg);
  opacity: 1;
}

/*  sidebar-blur  */
.sidebar {
  z-index: 8;
}

.sidebar-blur {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  opacity: 86.05%;
  top: 0px;
  left: 320px;
  z-index: 5;
}

.sidebar::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 100%;
  top: 0px;
  background-color: transparent;
  box-shadow: 3px 0px 30px 0px #7e7e82;
  z-index: 10;
}

.sidebar-header__wrap {
  position: relative;
  z-index: 15;
}

.sidebar__navigation {
  position: relative;
  z-index: 15;
}

.sidebar-footer {
  position: relative;
  z-index: 15;
}

/*  для работы sidebar в menu.js */
.sidebar {
  display: none; /*  временно убрала   none / block или flex */
}

.main-menu .openned {
  display: flex;
}

/*  sidebar  3 часть */
@media screen and (min-width: 1120px) {
  .sidebar {
    display: block;
    position: absolute;
    left: -322px;
    height: 100%;
    box-shadow: -3px 0px 5px 0px #7e7e82;
    /*background-color: white;*/
  }
}

@media screen and (min-width: 1120px) {
  body {
    position: relative;
    left: 321px;
    width: 75%;
  }
}

@media screen and (min-width: 1120px) {
  .sidebar-header__wrap .sidebar-header__item:nth-child(1) {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .sidebar-header__wrap .sidebar-header__item:nth-child(2) {
    width: 60%;
  }
}

@media screen and (min-width: 1120px) {
  .sidebar-footer {
    margin-top: 420px; /*  220px  */
  }
}

/*  для не работы sidebar в menu.js */
@media screen and (min-width: 1120px) {
  .sidebar-blur {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .sidebar::before {
    display: none;
  }
}

/* sidebar-feedback */
.sidebar-feedback {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100vh;
  background-color: aliceblue;
  padding: 24px;
}
@media screen and (max-width: 500px) {
  .sidebar-feedback {
    width: 320px;
    padding: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback {
    width: 440px;
    padding: 32px;
    padding-right: 32px; /* 44px */
  }
}
.sidebar-feedback .button-close {
  display: flex;
  background-color: aliceblue;
  margin-left: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback .button-close {
    position: absolute;
    left: -73px;
    background-color: transparent;
  }
}
.sidebar-feedback .sidebar-feedback__title {
  position: relative;
  left: -24px;
  align-items: flex-end;
  margin-bottom: 24px;
}
@media screen and (max-width: 500px) {
  .sidebar-feedback .sidebar-feedback__title {
    left: -16px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback .sidebar-feedback__title {
    left: -32px;
  }
}
.sidebar-feedback .sidebar-feedback__title h1 {
  font-family: "TTLakes Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  width: 288px;
  height: 32px;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback .sidebar-feedback__title h1 {
    margin-left: 28px;
  }
}
.sidebar-feedback .sidebar-feedback__form input {
  width: 292px;
  height: 48px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}
@media screen and (max-width: 500px) {
  .sidebar-feedback .sidebar-feedback__form input {
    width: 288px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback .sidebar-feedback__form input {
    width: 376px; /* 364px */
  }
}
.sidebar-feedback .sidebar-feedback__form textarea {
  width: 292px;
  height: 118px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}
@media screen and (max-width: 500px) {
  .sidebar-feedback .sidebar-feedback__form textarea {
    width: 288px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback .sidebar-feedback__form textarea {
    width: 376px; /* 364px */
  }
}
.sidebar-feedback .sidebar-feedback__form .sidebar-feedback__note {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
  text-align: left;
}
.sidebar-feedback .sidebar-feedback__form .sidebar-feedback__note .sidebar-feedback__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #ff3e79;
}
.sidebar-feedback .sidebar-feedback__form .button-submit {
  display: flex;
  background-color: aliceblue;
  margin-left: auto;
  margin-top: 18px;
}

/* sidebar-feedback__blur */
.sidebar-feedback {
  z-index: 8;
}

.sidebar-feedback__blur {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  opacity: 86.05%;
  top: 0px;
  right: 340px;
  z-index: 5;
}
@media screen and (max-width: 500px) {
  .sidebar-feedback__blur {
    right: 320px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback__blur {
    right: 440px;
  }
}

.sidebar-feedback::before {
  position: absolute;
  content: "";
  width: 340px;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: transparent;
  box-shadow: 3px 0px 30px 0px #7e7e82;
  z-index: 10;
}
@media screen and (max-width: 500px) {
  .sidebar-feedback::before {
    width: 320px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-feedback::before {
    width: 440px;
  }
}

.button-close {
  position: relative;
  z-index: 15;
}

.sidebar-feedback__title {
  position: relative;
  z-index: 15;
}

.sidebar-feedback__form {
  position: relative;
  z-index: 15;
}

.sidebar-feedback__note {
  position: relative;
  z-index: 15;
}

.button-submit {
  position: relative;
  z-index: 15;
}

/*  для работы sidebar-feedback в feedback.js */
.sidebar-feedback {
  display: none; /*  none / block  */
}

.main-menu .openned {
  display: block;
}

/* sidebar-call */
.sidebar-call {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100vh;
  background-color: aliceblue;
  padding: 24px;
}
@media screen and (max-width: 500px) {
  .sidebar-call {
    width: 320px;
    padding: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-call {
    width: 440px;
    padding: 32px;
    padding-right: 32px; /* 44px */
  }
}
.sidebar-call .button-close {
  display: flex;
  background-color: aliceblue;
  margin-left: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 1120px) {
  .sidebar-call .button-close {
    position: absolute;
    left: -73px;
    background-color: transparent;
  }
}
.sidebar-call .sidebar-call__title {
  position: relative;
  left: -24px;
  align-items: flex-end;
  margin-bottom: 24px;
}
@media screen and (max-width: 500px) {
  .sidebar-call .sidebar-call__title {
    left: -16px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-call .sidebar-call__title {
    left: -32px;
  }
}
.sidebar-call .sidebar-call__title h1 {
  font-family: "TTLakes Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  width: 288px;
  height: 32px;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1120px) {
  .sidebar-call .sidebar-call__title h1 {
    margin-left: 28px;
  }
}
.sidebar-call .sidebar-call__form input {
  width: 292px;
  height: 48px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}
@media screen and (max-width: 500px) {
  .sidebar-call .sidebar-call__form input {
    width: 288px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-call .sidebar-call__form input {
    width: 376px; /* 364px */
  }
}
.sidebar-call .sidebar-call__form .sidebar-call__note {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
  text-align: left;
}
.sidebar-call .sidebar-call__form .sidebar-call__note .sidebar-call__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #ff3e79;
}
.sidebar-call .sidebar-call__form .button-submit {
  display: flex;
  background-color: aliceblue;
  margin-left: auto;
  margin-top: 18px;
}

/* sidebar-call__blur */
.sidebar-call {
  z-index: 8;
}

.sidebar-call__blur {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  opacity: 86.05%;
  top: 0px;
  right: 340px;
  z-index: 5;
}
@media screen and (max-width: 500px) {
  .sidebar-call__blur {
    right: 320px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-call__blur {
    right: 440px;
  }
}

.sidebar-call::before {
  position: absolute;
  content: "";
  width: 340px;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: transparent;
  box-shadow: 3px 0px 30px 0px #7e7e82;
  z-index: 10;
}
@media screen and (max-width: 500px) {
  .sidebar-call::before {
    width: 320px;
  }
}
@media screen and (min-width: 1120px) {
  .sidebar-call::before {
    width: 440px;
  }
}

.button-close {
  position: relative;
  z-index: 15;
}

.sidebar-call__title {
  position: relative;
  z-index: 15;
}

.sidebar-call__form {
  position: relative;
  z-index: 15;
}

.sidebar-call__note {
  position: relative;
  z-index: 15;
}

.button-submit {
  position: relative;
  z-index: 15;
}

/*  для работы sidebar-call в call.js */
.sidebar-call {
  display: none; /*  none / block  */
}

.main-menu .openned {
  display: block;
}

/* footer */
.footer .footer__wrap {
  margin: 24px;
  margin-top: 48px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (max-width: 500px) {
  .footer .footer__wrap {
    margin: 24px;
    margin-top: 48px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 500px) and (max-width: 1120px) {
  .footer .footer__wrap {
    padding-right: 16px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1120px) {
  .footer .footer__wrap {
    margin: 32px;
    margin-top: 48px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    justify-content: space-between;
  }
}
.footer .footer__wrap .footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
  /*opacity: 72.18%;  */
  text-align: left;
  width: 250px;
}
@media screen and (max-width: 500px) {
  .footer .footer__wrap .footer__copyright {
    width: 250px;
    margin: 16px 0px;
    text-align: center;
  }
}
@media screen and (min-width: 1120px) {
  .footer .footer__wrap .footer__copyright {
    width: 250px;
  }
}
.footer .footer__wrap a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
  /*opacity: 72.18%;  */
  text-align: center;
  text-decoration: none;
}
.footer .footer__wrap .footer__politics {
  display: block;
  margin: 14px;
  width: 250px;
}
@media screen and (max-width: 500px) {
  .footer .footer__wrap .footer__politics {
    display: block;
    width: 250px;
    margin: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 1120px) {
  .footer .footer__wrap .footer__politics {
    margin: 14px;
    width: 250px;
  }
}
.footer .footer__wrap .footer__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
  /*opacity: 72.18%;  */
  text-align: right;
  width: 250px;
}
@media screen and (max-width: 500px) {
  .footer .footer__wrap .footer__info {
    width: 290px;
    margin: 16px 0px;
    text-align: center;
  }
}
@media screen and (min-width: 1120px) {
  .footer .footer__wrap .footer__info {
    width: 330px;
  }
}/*# sourceMappingURL=main.css.map */