
$header-color: white;

$main-color: #f8f8f8;

$sidebar-color: aliceblue;



$line-color: #d9fff5;

$border-nav-color: #b8ffec;

$border-table-color: #eaeaea;

$border-sidebar-color: #41f6d7;



$white-color: #ffffff;

$pink-color: #ff3e79;



$black-text-color: #1b1c21;

$gray-text-color: #7e7e82;

$grey-sidebar-text-color: #b5b6bc;



